.container {
    display: flex;
    flex-direction: column;
    max-width: 74rem;
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-rev {
    display: flex;
    flex-direction: row-reverse;
}
.flex-justify-space-around {
    justify-content: space-around;
}
.flex-justify-space-between {
    justify-content: space-between;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-flex-end {
    justify-content: flex-end;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.flex-align-space-between {
    align-content: space-between;
}
.flex-align-flex-end {
	justify-content: flex-end;
    align-items: flex-end;
}
